@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*======================= VARIABLES=====================================*/
:root {
    
    /*== GENERAL ==*/
    font-size: 62.5%;
    scroll-behavior: smooth;
    --primario: #056676;
    --color-general: #9AE66E;
    --color-titulos: #68e023;
    --color-background: #68e023;
    --colo-background-hover: #3E7C17;

    /*== footer==*/
    --min-width-280px-title-footer: 280px;
    --max-width-400px-title-footer: 400px;
    --color-text1-footer: #c7c7c7;
    --color-text2-footer: #fff;

    /*== boton scroll==*/
    --posicion-55px-scroll: 55px;
    --posicion-15px-scroll: 15px;
}

/*======================= DISEÑO DEL SCROLL =====================================*/
::-webkit-scrollbar{
width: 10px;
}
::-webkit-scrollbar-thumb{
 background: var(--color-general);
 border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--colo-background-hover);
}

/*======================= GENERAL =====================================*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*======================= CONTENEDOR DE PORTADA =====================================*/
.contenedor-portada {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.199), rgba(0, 0, 0, 0.267)), url(../img/portadaEsme-comprimida.jpg);
    background-size: cover;
    background-position: center;
}

.wrapper {
    max-width: 1200px;
    margin: auto;
}


/*======================= NAVBAR =====================================*/

header {
    width: 100%;
    transition: 0.3s ease all;
    position: fixed;
    top: 0;
    left: 0;
    height: 7rem;
    z-index: 2;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 7rem;
}
.logo{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.logo img{
    width: 50px;
    padding-bottom: 13px;
}
.logo a {
    font-family: "Bebas Neue", cursive;
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: flex;
}

.menu li {
    margin-left: 1rem;
    list-style: none;
}

.menu li a {
    color: #fff;
    font-size: 2rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 5px 18px;
}

.menu li a:hover {
    background: var(--colo-background-hover);
}

.iconMenu {
    display: none;
}

.scrollActive {
    background: var(--color-background);
}


/*======================= PORTADA =====================================*/

.contenedor-portada {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 10rem;
}

.textos-portada {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.titulo-portada {
    font-size: 7rem;
    color: var(--color-background);
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    text-shadow: 0 0 6px rgba(255, 255, 255, 0.356);
    cursor:default;
}

.textos-portada p {
    font-size: 3rem;
    text-align: center;
    color: #f3f3f3;
    font-weight: 300;
    text-shadow: 0 0 30px rgba(255, 255, 255, 0.356);
    cursor:default;
}

.textos-portada .btn-portada .btn {
    display: inline-block;
    margin-top: 2rem;
    font-size: 2rem;
    background: #a6f0c6;
    padding: 8px 20px;
    text-decoration: none;
    color: #ec4646;
    text-transform: uppercase;
    border-radius: 5px;
    box-shadow: 0 0 10px #a3d2ca;
}


/*======================= SOCIAL, CULTURA, PELITICA, DEPORTE =====================================*/

section {
    width: 100%;
    padding: 3rem 0;
}

.titulo {
    font-size: 2.5rem;
    color: var(--color-titulos);
    margin-bottom: 1rem;
    text-align: center;
}

.sobre-esme {
    display: flex;
    justify-content: space-around;
    padding: 1.5rem 4rem 1.5rem 4rem;
}

.esme-video {
    width: 40%;
    max-height: 290px;
}

.contenido {
    width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido .titulo {
    text-align: left;
    font-size: 3rem;
}

.contenido p {
    font-size: 1.8rem;
    color: #555;
    margin-bottom: 2rem;
}

.fondo {
    width: 100%;
    background: #f1f1f1;
}


/*======================= PERSONAJES =====================================*/

.personajes-esme .titulo{
    font-size: 3rem;
}
.items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin: 10px;
    transition: all 0.3s;
}
.card:hover{
    width: 350px;
    height: 412px;
}
.card .cover{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}
.card .cover img {
    width: 250px;
    display: block;
    margin: auto;
    top: 40px;
    position: relative;
    z-index: 1;
    filter: drop-shadow(5px 5px 4px rgba(0,0,0,0.5));
    transition: all 0.4s;
}
.card:hover .cover img{
    top: 0;
    filter: none;
}
.card .img-back{

    width: 100%;
    height: 200px;
    position: absolute;
    bottom: -80px;
    background-size: cover;
    border-radius: 20px;
    transition: all 0.4s;
}
.card:nth-of-type(1) .img-back{

    background-image: url(../img/card/bg1.jpg);
}
.card:nth-of-type(2) .img-back{

    background-image: url(../img/card/bg2.jpg);
}
.card:nth-of-type(3) .img-back{

    background-image: url(../img/card/bg3.jpg);
}
.card:nth-of-type(4) .img-back{

    background-image: url(../img/card/bg1.jpg);
}
.card:nth-of-type(5) .img-back{

    background-image: url(../img/card/bg2.jpg);
}
.card:hover .img-back{
    bottom: -40px;
}
.card .description{
    background: #fff;
    margin-top: -10px;
    padding: 20px;
    border-radius: 0px 0px 20px 20px;
    transition: all 0.4s;
}
/*.card:hover .description{
    padding: 40px;
}*/
.card .description h2{
   
    margin: 10px;
}
.card .description p{
   
    margin: 10px;
    font-size: 1.3rem;
    display: -webkit-box;
    display: -moz-box;
    display: box;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    box-orient: vertical;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    overflow: hidden;
}
.card .description input{
    width: 100px;
    padding: 5px;
    margin-top: 20px;
    font-size: 1.5rem;
    border: none;
    background: var(--color-background);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.card .description input:hover{
    
    background: var(--colo-background-hover);
    color: #fff; 
}

/*======================= BOTON SCROLL =====================================*/
.fa-arrow-up {
    opacity: 0;
    position: fixed;
    width: var(--posicion-55px-scroll);
    height: var(--posicion-55px-scroll);
    line-height: var(--posicion-55px-scroll);
    bottom: var(--posicion-15px-scroll);
    right: var(--posicion-15px-scroll);
    background: var(--color-background);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease all;
    z-index: 100;
    cursor: pointer;
}

.BtUptActive {
    opacity: 1;
}

.fa-arrow-up:hover {
    text-decoration: none;
    color: var(--color-background);
    background: #fff;
}

/*=========================FOOTER=========================================*/
footer 
{
  background: #202020;
  color: var(--color-text2-footer);
  width: 100%;
}
.footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.Contacto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.Colum1 {
  max-width: var(--max-width-400px-title-footer);
  
}
.Colum1 h1 {
  font-size: 22px;
}
.Colum1 p {
  font-size: 14px;
  color: var(--color-text1-footer);
  margin-top: 20px;
}
.Colum2 {
    
  max-width: var(--max-width-400px-title-footer);
}
.Colum2 h1 {
    
  font-size: 22px;
}
.row {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.row i {
  width: 36px;
  height: 36px;
  font-size: 1.1rem;
  width: 2rem;
  height: 2rem;
  background: var(--color-text2-footer);
  text-align: center;
  line-height: 2.2rem;
  transition: all 0.3s ease;
}
.row .fa-envelope{
    background: transparent;
    font-size: 1.5rem;
}
.row i:hover {
  border-radius: 50%;
}
.row a {
  color: black;
  text-decoration: none;
}
.row label {
  font-size: 1.1rem;
  margin-left: 20px;
  color: var(--color-text1-footer);
}
.Colum3 h1 {
  font-size: 22px;
}
.row2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row2 i {
  font-size: 1.4rem;
}
.row2 label {
  font-size: 1.1rem;
  margin-left: 20px;
}
.Autor {
  width: 100%;
  background: #101010;
}
.Autor-centrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 3rem;
  padding: 0;
}
.Autor-centrar .polityc{
    display: flex;
    padding: 1rem;
    list-style: none;
}
.Autor-centrar .polityc li a{
    
    margin: 0 1rem;
    color: var(--color-text1-footer);
    text-decoration: none;
    transition: all 0.3s;
}
.Autor-centrar .polityc li a:hover{
    
   color: var(--color-text1-footer);
   text-decoration: underline;
}
.copy {
  color: var(--color-text1-footer);
  padding: 1rem;
}

/*======================= RESPONSIVE MEDIAQUERYS =====================================*/
@media (max-width: 1400px) {
    .wrapper {
        max-width: 90%;
    }
    
}

@media (max-width: 865px) {
    .logo {
        font-size: 2.5rem;
    }
    .menu {
        position: fixed;
        top: 7rem;
        left: 0;
        width: 50%;
        background: #222;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
        transform: translateX(-100%);
    }
    .menu li {
       margin: 1rem 0;
    }
    .wrapper {
        max-width: 80%;
    }
    .contenedor-portada{
        justify-content: center;
        padding: 0;
    }
    .textos-portada {
        max-width: 80%;
    }
    .textos-portada p{
        font-size: 3rem;
    }
    .titulo-portada {
        font-size: 3rem;
    }
    .sobre-esme {
        flex-direction: column;
    }
    .order-sobreEsme{
        flex-direction: column-reverse;
    }
    .contenido {
        width: 100%;
    }
    .esme-video {
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }
    .iconMenu {
        color: #fff;
        font-size: 2.5rem;
        cursor: pointer;
        display: block;
    }
    .menuActive {
        transform: translateX(0%);
    }
    .items {
        flex-wrap: wrap;
    }
    form {
        width: 100%;
    }
   
}
@media (max-width: 696px) {
    
    .Contacto{
        flex-direction: column;
    }
    .Colum2,.Colum3{
        margin-top:  2rem;
    }
    
}
@media (max-width: 588px) {
    
    .sobre-esme {
        padding: 2rem 0 0 0;
    }
    .contenido p{
        font-size: 1.6rem;
    }
    .Autor-centrar{
        justify-content: center;
    }
}
@media (max-width: 386px) {
    
    .logo img{
        display: none;
    }
}

