@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

/*============================ VARIABLES ================================================================*/
:root{
    /*== general ==*/
    --color-titulos: #68e023;
    --colo-background-hover: #3E7C17;
    --color-background: #68e023;
    
    /*== footer==*/
    --min-width-280px-title-footer: 280px;
    --max-width-400px-title-footer: 400px;
    --color-text1-footer: #c7c7c7;
    --color-text2-footer: #fff;

    /*== reconocimiento ==*/
    --size-margin-reconocimiento: 1rem;

    /*== boton scroll==*/
    --posicion-55px-scroll: 55px;
    --posicion-15px-scroll: 15px;

    /*== Aserca de ==*/
    --size-2rem-about: 2rem;

}

/*============================ DISEÑO SCROLL ================================================================*/
::-webkit-scrollbar{
    width: 10px;
    }
::-webkit-scrollbar-thumb{
    background: var(--color-background);
    border-radius: 20px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--colo-background-hover);
}

/*============================ GLOBAL================================================================*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*============================ NAVBAR ================================================================*/
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
header {
    width: 100%;
    transition: 0.3s ease all;
    position: fixed;
    top: 0;
    left: 0;
    height: 4.4rem;
    z-index: 2;
}
.iconMenu {
    display: none;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 4.4rem;
}
.logo{
    display: flex;
    align-items: center;
    grid-gap: 10px;
}
.logo img{
    width: 50px;
    padding-bottom: 13px;
}
.logo a {
    font-family: "Bebas Neue", cursive;
    font-size: 3.5rem;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
.logo a {
    font-family: "Bebas Neue", cursive;
    font-size: 2.2rem;
    color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.menu {
    display: flex;
}
.fa-bars {
    display: none;
}
.menu li {
    margin-left: 1rem;
    list-style: none;
}

.menu li a {
    color: #fff;
    font-size: 1.3rem;
    text-decoration: none;
    transition: all 0.3s ease;
    border-radius: 5px;
    padding: 5px 18px;
}

.menu li a:hover {
    background: var(--colo-background-hover);
}

.scrollActive {
    background: var(--color-background);
}

/*============================ Avatar================================================================*/
.wrapper-portada{
    margin-bottom: 3rem;
}
.avatar{
    text-align: center;
    height: 300px;
    padding: 12px;
    background-image: url(../img/profile/bg-comprimida.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 0px 0px 20px 20px;
}
.avatar img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.avatar h1{
    font-size: 16px;
    margin-top: 14px;
}
.social{
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 1rem 0 0 0;
}
.social li {
    display: inline-block;
    margin: 5px;
}
.social li a{
    text-decoration: none;
    color: #1d1d1d;
    transition: all 0.4s;
}
.social li a i{
    padding: 0 0.5rem;
}
.social li a:hover{
    
    color: var(--color-titulos);
}

/*============================ ACERCA DE================================================================*/

.about-me{
    width: 100%;
    padding: 3rem 0;
    align-items: center;
}
.titulo {
    font-size: 2.5rem;
    color: var(--color-titulos);
    margin-bottom: 1rem;
    text-align: center;
}

.about-me {
    display: flex;
    justify-content: space-around;
    padding: 0 var(--size-2rem-about) var(--size-2rem-about) var(--size-2rem-about);
}

.about-video {
    width: 40%;
    justify-self: center;
    max-height: 290px;
}

.contenido {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.contenido .titulo {
    text-align: left;
    font-size: var(--size-2rem-about);
}

.contenido p {
    font-size: 1.2rem;
    color: #555;
    margin-bottom: var(--size-2rem-about);
}

/*============================ RECONOCIMIENTO ================================================================*/
.content_reconocimientos{
    padding: 1rem 0 2rem 0;
}
.content_reconocimientos h2{
    text-align: center;
    font-size: 2rem;
    margin-bottom: var(--size-margin-reconocimiento);
    color: var(--color-titulos);
}
.content_reconocimientos .content-logros{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 0;
}
.content_reconocimientos .item{
    display: block;
    width: 360px;
    margin: 0 var(--size-margin-reconocimiento) 3rem var(--size-margin-reconocimiento);
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.164);
    border-radius: 0 0 7px 7px;
}
.content_reconocimientos .item img{
    width: 100%;
    margin-bottom: var(--size-margin-reconocimiento);
    border-radius: 7px;
}
.content_reconocimientos .item h3{

    margin-bottom: 0.5rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: #2b2c2b;
}
.content_reconocimientos .item p{
    font-size: 0.9rem;
    margin-bottom: var(--size-margin-reconocimiento);
    max-height: 107px;
    overflow: hidden;
}
.content_reconocimientos .item input{
    width: 100px;
    padding: 5px;
    font-size: 1rem;
    margin: 10px 0 10px 0;
    border: none;
    background: var(--color-background);
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.content_reconocimientos .item input:hover{

    background: var(--colo-background-hover);
    color: #fff;
}
/*================================== BOTON DE SCROLL===============================*/

.fa-arrow-up {
    opacity: 0;
    position: fixed;
    width: var(--posicion-55px-scroll);
    height: var(--posicion-55px-scroll);
    line-height: var(--posicion-55px-scroll);
    bottom: var(--posicion-15px-scroll);
    right: var(--posicion-15px-scroll);
    background: var(--color-background);
    color: #fff;
    border-radius: 50%;
    text-align: center;
    font-size: 28px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    transition: 0.3s ease all;
    z-index: 100;
    cursor: pointer;
}

.BtUptActive {
    opacity: 1;
}

.fa-arrow-up:hover {
    text-decoration: none;
    color: var(--color-titulos);
    background: #fff;
}

/*============================ FOOTER================================================================*/
footer 
{
  background: #202020;
  color: var(--color-text2-footer);
  width: 100%;
}
.footer-all {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 40px;
}
.Contacto {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 0.9rem;
}
.Colum1 {
  max-width: 400px;
  
}
.Colum1 h1 {
  font-size: 22px;
}
.Colum1 p {
  font-size: 14px;
  color: var(--color-text1-footer);
  margin-top: 20px;
}
.Colum2 {
    
  max-width: var(--max-width-400px-title-footer);
}
.Colum2 h1 {
    
  font-size: 22px;
}
.row {
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.row i {
  width: 10px;
  height: 10px;
  font-size: 0.9rem;
  width: 1.29rem;
  height: 1.2rem;
  background: var(--color-text2-footer);
  text-align: center;
  line-height: 1.3rem;
  transition: all 0.3s ease;
}
.row .fa-envelope{
    background: transparent;
    font-size: 1rem;
}
.row i:hover {
  border-radius: 50%;
}
.row a {
  color: black;
  text-decoration: none;
}
.row label {
  font-size: 11px;
  margin-left: 20px;
  color: var(--color-text1-footer);
}
.Colum3 h1 {
  font-size: 22px;
}
.row2 {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.row2 i {
  font-size: 1rem;
}
.row2 label {
  font-size: 11px;
  margin-left: 20px;
}
.Autor {
  width: 100%;
  background: #101010;
}
.Autor-centrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  margin: 0 3rem;
  padding: 0;
}
.Autor-centrar .polityc{
    display: flex;
    padding: 1rem;
    list-style: none;
}
.Autor-centrar .polityc li a{
    
    margin: 0 1rem;
    color: var(--color-text2-footer);
    font-size: 0.8rem;
    text-decoration: none;
    transition: all 0.3s;
}
.Autor-centrar .polityc li a:hover{
    
   color: var(--color-text1-footer);
   text-decoration: underline;
}
.copy {
  color: var(--color-text1-footer);
  padding: 1rem;
  font-size: 0.8rem;
}
@media (max-width: 1196px){
    .wrapper {
        max-width: 90%;
    }
}

/*============================ RESPONSIVE MEDIAQUERYS ================================================================*/
@media (max-width: 817px){
    
    .about-me{
        padding: 0 0 1rem 0;
    }
    .Autor-centrar{
        justify-content: center;   
    }
    .logo {
        font-size: 2.5rem;
    }
    .menu {
        position: fixed;
        top: 4.4rem;
        left: 0;
        width: 50%;
        background: #222;
        flex-direction: column;
        align-items: center;
        transition: all 0.3s ease;
        transform: translateX(-100%);
    }
    .menu li {
       margin: 1rem 0;
    }
    .contenido p{
        text-align: justify;
    }
    .iconMenu {
        color: #fff;
        font-size: 1.5rem;
        cursor: pointer;
        display: block;
    }
    .about-me{
        flex-direction: column;
    }
    .menuActive {
        transform: translateX(0%);
    }
    .contenido {
        width: 100%;
    }
    .about-video {
        width: 100%;
        padding: 0;
        margin-bottom: 3rem;
    }
    .content_reconocimientos .item p{
        text-align: justify;
    }
}
@media (max-width: 695px){

    .content_reconocimientos .item{    
        width: 90%;
    }
    .Contacto{
        flex-direction: column;
    }
    .Colum2,.Colum3{
        margin-top:  2rem;
    }
    .Autor-centrar{
        justify-content: center;
        margin: 0;
    }
}
@media (max-width: 394px){
    
    .logo img{
        display: none;
    }
    .contenido p{
        font-size: 1rem;
    }
    .Autor-centrar .polityc li a{
    
        margin: 0 0.5rem;
    }
}